/*










*/

/* ...................................... HEADER ...................................... */
.navigation_respon{
    display: none;
}
.logo{
    float: left;
    width: 20%;
    height: 100%;
}
.logo a{
    float: left;
    display: flex;
    align-items: center;
    font-family: 'Lobster';
    font-size: 32px;
    height: 100%;
    background: -webkit-linear-gradient(225deg,#fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo a:hover{
    text-decoration: none;
}
.search{
    float: left;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    width: 400px;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #000;
    font-weight: bold;
}
.search input::placeholder{
    font-family: 'Oswald';
    color: #7c7c7c;
    opacity: 1;
}
.search a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #000;
}
.search a:hover{
    text-decoration: none;
}
.shopping_cart{
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.shopping_cart .shopping_cart_icon{
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
}
.shopping_cart .shopping_cart_icon .count{
    position: absolute;
    top: -100%;
    left: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 2;
    font-weight: bold;
    transition: all 300ms ease;
}
.shopping_cart .shopping_cart_icon .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 300ms ease;
    z-index: 1;
}
.shopping_cart .shopping_cart_icon:hover{
    text-decoration: none;
}
.shopping_cart .shopping_cart_icon:hover .count{
    top: 0%;
}
.shopping_cart .shopping_cart_icon:hover .icon{
    top: 100%;
}

/* ...................................... LAYOUT ...................................... */

.body_content_wrapper{
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.body_category{
    width: 100%;
    overflow: hidden;
}
.body_category .body_category_aside{
    float: left;
    width: 220px;
}
.body_category .body_category_content{
    float: left;
    width: 1060px;
}






/* ...................................... Display ...................................... */

.I-respon_category{
    display: none;
}
.I-slider{
    margin: 20px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}
.I-slider .item img{
    width: 100%;
}

.I-sub_category{
    margin: 20px 0;
    width: 100%;
}
.I-sub_category .sub_category_wrapper{
    background-color: #fff;
}
.I-sub_category .sub_category_wrapper .sub_category_list_item{
    overflow: hidden;
    margin: 0 -8px;
}
.I-sub_category .sub_category_wrapper .sub_category_list_item .sub_category_item{
    float: left;
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #000;
    font-weight: bold;
    font-family: 'Oswald';
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 10% , transparent 10%, transparent 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 500ms ease;
}
.I-sub_category .sub_category_wrapper .sub_category_list_item .sub_category_item:hover{
    background-position: -120% 0;
}


.I-flash_deal{
    margin: 20px 0;
    width: 100%;
}
.I-flash_deal .flash_deal_wrapper{
    background-color: #fff;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_header .title{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_header .title time{
    font-size: 18px;
    margin: 0 20px;
    color: red;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_header .buy_all{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_header .buy_all a{
    float: left;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    border: 1px solid #f57224;
    color: #f57224;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_header .buy_all a:hover{
    text-decoration: none;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_content{
    padding: 10px 0;
    overflow: hidden;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_content .flash_deal_list_item{
    margin: 0 -8px;
}
.I-flash_deal .flash_deal_wrapper .flash_deal_content .flash_deal_list_item .flash_deal_item{

}


.I-best_searching{
    margin: 20px 0;
    width: 100%;
}
.I-best_searching .best_searching_wrapper{
    background-color: #fff;
}
.I-best_searching .best_searching_wrapper .best_searching_header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.I-best_searching .best_searching_wrapper .best_searching_header .title{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-best_searching .best_searching_wrapper .best_searching_content{
    margin: 10px 0;
    height: 210px;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item{
    width: 100%;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item{
    float: left;
    width: 20%;
    height: 100px;
    background-color: #ae62081a;
    border: 1px solid #f5f5f5;
    transition: all 100ms ease;
    padding: 10px;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item .image{
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item .image img{
    width: 100%;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item .content{
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 0 0 10px;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item .content .title{
    color: #212121;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item .content .count_item{
    font-size: 12px;
    color: #9e9e9e;
    font-weight: bold;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:first-child{
    height: 200px;
    background-color: #278eb01a;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:first-child .image{
    width: 100%;
    height: 70%;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:first-child .image img{ }
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:first-child .content{
    padding: 10px;
    width: 100%;
    height: 30%;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:first-child .content .title{
    text-align: center;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:first-child .content .count_item{
    text-align: center;
}
.I-best_searching .best_searching_wrapper .best_searching_content .best_searching_list_item .best_searching_item:hover{
    box-shadow: 0 2px 4px 0 #00000040;
}


.I-gallery{
    margin: 20px 0;
    width: 100%;
}
.I-gallery .gallery_wrapper{
    background-color: #fff;
}
.I-gallery .gallery_wrapper .gallery_header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.I-gallery .gallery_wrapper .gallery_header .title{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-gallery .gallery_wrapper .gallery_header .show_more{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-gallery .gallery_wrapper .gallery_content{
    padding: 10px 0;
    overflow: hidden;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item{
    width: 100%;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item{
    float: left;
    width: 25%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all 100ms ease;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .content{
    float: left;
    width: 100%;
    height: 50%;
    padding: 10px;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .content .title{
    font-size: 14px;
    line-height: 18px;
    color: #212121;
    text-align: center;
    font-weight: bold;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .content .count_item{
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    margin: 5px 0 0 0;
    text-align: center;
    font-weight: bold;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .listimage{
    float: left;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .listimage .image{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .listimage .image img{
    width: 100%;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item .listimage .image:not(:last-child){
    margin: 0 20px 0 0;
}
.I-gallery .gallery_wrapper .gallery_content .gallery_list_item .gallery_item:hover{
    box-shadow: 0 2px 4px 0 #00000040;
}


.I-category{
    margin: 20px 0;
    width: 100%;
}
.I-category .category_wrapper{
    background-color: #fff;
}
.I-category .category_wrapper .category_header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.I-category .category_wrapper .category_header .title{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-category .category_wrapper .category_header .show_more{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-category .category_wrapper .category_content{
    padding: 10px 0;
    overflow: hidden;
}
.I-category .category_wrapper .category_content .category_list_item{
    width: 100%;
}
.I-category .category_wrapper .category_content .category_list_item .category_item{
    float: left;
    width: 160px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all 100ms ease;
}
.I-category .category_wrapper .category_content .category_list_item .category_item .image_wrapper{
    float: left;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px 20px;
}
.I-category .category_wrapper .category_content .category_list_item .category_item .image_wrapper .image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.I-category .category_wrapper .category_content .category_list_item .category_item .image_wrapper .image img{
    width: 100%;
}
.I-category .category_wrapper .category_content .category_list_item .category_item .title{
    float: left;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #212121; 
    font-weight: bold;
}
.I-category .category_wrapper .category_content .category_list_item .category_item:hover{
    box-shadow: 0 2px 4px 0 #00000040;
}


.I-for_user{
    margin: 20px 0;
    width: 100%;
}
.I-for_user .for_user_wrapper{
    background-color: #fff;
}
.I-for_user .for_user_wrapper .for_user_header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.I-for_user .for_user_wrapper .for_user_header .title{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.I-for_user .for_user_wrapper .for_user_content{
    padding: 10px 0;
    overflow: hidden;
    /*height: 310px;*/
}
.I-for_user .for_user_wrapper .for_user_content .for_user_list_item{
    margin: 0 -8px;
}
.I-for_user .for_user_wrapper .for_user_content .for_user_list_item .for_user_item{

}

.I-body_category{
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
.I-body_category .title{
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.I-body_category .content{
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.I-body_category .content ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.I-body_category .content ul li{
    width: 100%;
    float: left;
}
.I-body_category .content ul li a{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #f6f6f6;
    color: #000;
    transition: all 300ms ease;
}
.I-body_category .content ul li a:hover{
    padding: 0 0 0 20px;
}
.I-sub_category_list{
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}
.I-sub_category_list .title{
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    overflow: hidden;
    margin: 0 0 10px 0;
}
.I-sub_category_list .title .name{
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #000;
}
.I-sub_category_list .title .name span{
    font-weight: bold;
    font-size: 24px;
    margin: 0 20px;
}
.I-sub_category_list .title .count{
    float: left;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.I-sub_category_list .content{
    overflow: hidden;
}
.I-sub_category_list .content .sub_category_list_item{
    margin: 0 -10px;
    overflow: hidden;
    background-color: #fff;
}
.I-sub_category_list .content .sub_category_list_item .skin_item{
    width: 250px;
}

.I-item{
    width: 100%;
    overflow: hidden;
}
.I-item .content{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #fff;
}
.I-item .content .item_image{
    float: left;
    width: 40%;
    padding: 0 10px;
}
.I-item .content .item_image img{
    width: 100%;
}
.I-item .content .item_detail{
    float: left;
    width: 60%;
    padding: 0 30px;
}
.I-item .content .item_detail .item_name{
    padding: 0 0 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #000;
    font-size: 28px;
}
.I-item .content .item_detail .item_prices{
    padding: 20px 0;
    color: #f57224;
    border-bottom: 1px solid #000;
}
.I-item .content .item_detail .item_prices .prices{
    font-size: 32px;
}
.I-item .content .item_detail .item_prices .origin_prices{
    /*margin: 5px 0 0 0;*/
}
.I-item .content .item_detail .item_prices .origin_prices .origin{
    color: #9e9e9e;
    text-decoration: line-through;
    font-size: 24px;
}
.I-item .content .item_detail .item_prices .origin_prices .discount{
    margin: 0 5px;
    font-size: 16px;
    color: #f00;
}
.I-item .content .item_detail .item_size{
    padding: 20px 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.I-item .content .item_detail .item_size ul{
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}
.I-item .content .item_detail .item_size li{
    float: left;
    width: calc(20% - 20px);
    height: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 100ms ease;
}
.I-item .content .item_detail .item_size li:hover{
    background-color: #000;
    color: #fff;
}
.I-item .content .item_detail .item_size li.is-select{
    background-color: #000;
    color: #fff;
}
.I-item .content .item_detail .item_order{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}
.I-item .content .item_detail .item_order .quantity{
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-item .content .item_detail .item_order .quantity .action{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #000;
}
.I-item .content .item_detail .item_order .quantity .action.increase{ }
.I-item .content .item_detail .item_order .quantity .action.reduction{ }
.I-item .content .item_detail .item_order .quantity .value{
    border: none;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-item .content .item_detail .item_order .item_button{
    float: left;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 50px;
}
.I-item .content .item_detail .item_order .item_button.add_to_cart{ }
.I-item .content .item_detail .item_order .item_button.buying{ }
.I-item .content .item_detail .item_order .item_button a{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    color: #000;
    transition: all 100ms ease;
}
.I-item .content .item_detail .item_order .item_button a:hover{
    color: #fff;
    background-color: #000;
}

.I-item .set{
    
}
.I-item .detail{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #fff;
}
.I-item .detail p{
    margin: 15px 0;
}
.I-item .detail img{
    width: 100%;
}


.I-form{
    margin: 0 auto;
    width: 50%;
    overflow: hidden;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
}
.I-form .title{
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 32px;
    text-align: center;
}
